$darkCyan: hsl(185, 75%,39%);
$darkBlue: hsl(229,23%, 23%);
$darkGrayBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0,0%,59%);


body{
	min-height: 100vh;
	font-size: 18px;
	color: $darkGrayBlue;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	background: $darkCyan;
	display: flex;
	justify-content: center;
	align-items: center;
}
span {
	font-weight: 700;
	color: $darkBlue;
}
.bg{
	position: fixed;
	z-index: -1;
	& > img{
		display:block;
	}
}
.top{
	top: -100%;
	left:-25%;
}
.bottom{
	bottom:  -100%;
	right:-25%;
}
.card{
	& > div.margin-b {
	margin-bottom: 70px;
	}
	background: white;
	border: none;
	border-radius: 15px;
	min-width: 325px;
	min-height: 250px;
	padding: 0 0 25px 0;
	display:flex;
	flex-flow:column;
	box-shadow: 0px 0px 10px $darkBlue;
	overflow: hidden;
}
#card-top {
	display: flex;
	justify-content: center;
	background: url(images/bg-pattern-card.svg);
	height: 140px;
	width:100%;
	& > img{
		border: 7px solid white;
		border-radius: 50%;
		transform: scale(70%) translateY(100px);
	}
}
#stats{
	display: flex;
	width:100%;
	justify-content: space-evenly;
	& > div {
		text-align: center;
	}
}

#name {
	text-align: center;
}



